$pale-color: hsl(226, 100%, 94%);
$bright-color: hsl(245, 75%, 52%);

$very-pale-color: hsl(225, 100%, 98%);
$desaturated-color: hsl(223, 23%, 55%);
$dark-color: hsl(223, 47%, 23%);

$white-color: hsl(0, 0%, 100%);

$active-color: hsl(245, 83%, 68%);